<%-include('coursepartials/header')-%>


    <!-- header section -->
    <div class="bg-light flex flex-col-reverse items-center px-5 w-full md:px-16 py-14 sm:flex-row">
      <div class="w-full  sm:space-y-3">
        <p class="color-primary text-2xl md:text-5xl font-extrabold">Start Your Learning as</p>
        <p class="color-yellow -mt-1 text-2xl md:text-5xl font-extrabold">Flutter Developer</p>
        <p class="color-primary mt-2 md:text-lg text-sm">
          This program advance your career as a Web Developer. You will learn
          top skills and be a jack of all trades and create entire website by
          yourself.
        </p>
      </div>
      
      <div class="w-full flex justify-end items-center">
        <img src="../public/images/flutterDev.png" alt="avatar" class="md:h-80" />
      </div>
    </div>

    <!-- course detail summary -->
    <div class="bg-white  shadow-xl w-auto flex flex-col sm:w-[840px] sm:flex sm:flex-row justify-center items-center space-y-2 sm:space-x-10 sm:space-y-0 mx-auto p-5
       rounded-xl  -mt-10 ">
      <div class=" flex flex-row w-[400px]  sm:px-0 justify-center  sm:justify-between ">
           <div class="flex items-center space-x-2 pr-5 sm:pr-0">
            <img src="https://img.icons8.com/android/24/null/clock.png"
            class="bg-light p-1 rounded h-[30px] w-[30px] sm:h-[50px] sm:w-[50px] sm:p-3 " />
            <p class="text-xs font-bold sm:text-lg  ">
              Course Duration
              </br>
              2 Months
            </p>
           </div>
           <!--Dusri heading -->
           <div class="flex items-center space-x-2 pl-5">
            <img src="https://img.icons8.com/material-two-tone/24/null/rupee.png"
            class="bg-light p-1 rounded h-[30px] w-[30px] sm:h-[50px] sm:w-[50px] sm:p-3 " />
            <p class="text-xs font-bold sm:text-lg  ">
              Program Fee
              </br>
              ₹200/month
            </p>
           </div>
      </div>
      <div >
        <button
        class=" w-[140px]  md:w-[200px]  bg-primary text-white sm:py-4 sm:px-12 sm:mx-10 px-3 py-2 font-bold sm:font-extrabold rounded-full"
        id="openApplyMenu">
        Apply Now
      </button>

      </div>
    </div>
        <!-- pop up menu -->
        <form method="post">
        <div class=" absolute hidden  w-full lg:w-full top-40 " id="applyMenu">
          <div
            class="bg-white  py-5  lg:px-12 rounded-lg mx-auto w-[360px] lg:w-fit shadow-lg hover:shadow-2xl space-y-8">
            <p class="text-right mx-5 text-3xl cursor-pointer" id="closeApplyMenu" >
              X
            </p>
            <p class="text-2xl text-center font-extrabold">Application Form</p>
            <div class="flex flex-col">
              <label for="number" class="mx-2">Mobile Number</label>
              <input type="tel" name="mobile" id="mobile"
                class="border-2 border-gray-300 rounded-lg p-2 mx-2 md:w-[24rem]" placeholder="+123456789" />
            </div>
             <input type="hidden" name="name" value="<%=username%>">
             <input type="hidden" name="email" value="<%=usermail%>">
             <input type="hidden" name="course" value="FLUTTER">
             <input type="hidden" name="courseID" value="TWFLUTTER">
  
            <div class="sm:h-[300px] sm:w-[300px] h-[200px] w-[200px] flex flex-col justify-center items-center border mx-auto space-y-2">
              <img src="../public/images/demoqr.jfif">
            </div>
              
            <p>Download QR</p>
            
    
            <p class="mx-2">
              Program fee: <strong>&#x20B9;200</strong> &nbsp;
              <del class="text-gray-500 text-xs">&#x20B9;1000</del>
            </p>
            <button class="bg-primary text-white text-center md:w-full w-[250px] md:mx-0 mx-10 py-3 rounded-full">
              Pay Now
            </button>
          </div>
        </div>
      </form>

    <!-- about section -->
    <div class="text-center px-7 md:px-28 my-[160px] space-y-7">
      <p class="color-primary text-4xl font-extrabold">About</p>
      <p>
        With the purpose of creating natively built applications for 
        mobile, web, and desktop platforms from a single codebase, Google
         developed an open-source UI software development kit called flutter development, 
         which will be covered in this course. Flutter was developed with the main goal of giving developers a quick and 
         effective approach to create high-quality native
         applications.Having a certificate in flutter development can help you to work in this sector and make good wages.
      </p>
    </div>



    <!-- Courses Highlights section -->

    <div class="mx-auto py-10 w-full flex flex-col items-center">
      <p class="color-primary text-4xl font-extrabold text-center mb-10 ">
        Courses Highlights
      </p>
      <div class="grid grid-cols-3 grid-rows-3 gap-[15px] sm:gap-12  sm:pl-[95px]  ">

        <div class="flex items-center sm:flex-row flex-col text-center items-center sm:space-x-7 ">
          <img src="../public/images/stairs.png" alt="Beginner Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Beginner Friendly</p>
        </div>

        <div class="  sm:mr-0 flex sm:flex-row flex-col text-center items-center md:space-x-7  ">
          <img src="../public/images/certificate.png" alt="Mobile Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Certification of Training</p>
        </div>

        <div class=" mr-5 sm:mr-0 flex sm:flex-row flex-col text-center items-center md:space-x-7 ">
          <img src="../public/images/lift-to-talk.svg" alt="Mobile Friendly" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Mobile Friendly</p>
        </div>

        <div class="flex  sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/learnOnline.png" alt="Learn Online" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Learn Online</p>
        </div>

        <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/download.svg" alt="Downloadable Content" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Downloadable Content</p>
        </div>

        <div class="flex mr-4 sm:mr-0 sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/assignment-add.svg" alt="Assignments" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Assignments</p>
        </div>

        <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/doubt-removebg-preview.png" alt="24 X 7 Doubt clearning" class="h-[50px]  w-[50px] bg-light rounded-xl " />
          <p class="sm:text-lg text-sm">Doubt clearning</p>
        </div>

        <div class="flex sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/bulb.png" alt="Hands-On Project Based Learning" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Hands-On Project Based Learning</p>
        </div>

        <div class="flex mr-5 sm:mr-0 sm:flex-row flex-col text-center items-center md:space-x-7">
          <img src="../public/images/schedule.svg" alt="Lifetime Access" class="h-[50px] w-[50px] bg-light rounded-xl p-1" />
          <p class="sm:text-lg text-sm">Lifetime Access</p>
        </div>

      </div>
    </div>



    <!-- learning path -->
    <div class="my-20 space-y-14">
      <p class="color-primary text-4xl font-extrabold text-center mb-10">
        Learning Path
      </p>
      <div class="flex items-center justify-center flex-col md:flex-row gap-10 md:gap-0">
        <div class="md:space-y-2 flex flex-col items-center">
          <div
            class="bg-whitesmoke border-primary border-[6px] rounded-3xl h-20 w-20 1.2px [transform:_rotate(41.36deg)] flex justify-center items-center">
            <div class="bg-primary p-3 h-12 w-12 rounded-2xl flex justify-center items-center">
              <p class="text-xl font-extrabold text-white [transform:_rotate(-41.36deg)]">
                1
              </p>
            </div>
          </div>
          <p class="mt-2 " >Beginner</p>
        </div>

        <p class="-mt-12 hidden md:flex">
          ....................................................
        </p>
        <p style="line-height:0.3;" class="-mt-10 sm:hidden">
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
        </p>

        <div class="space-y-3 flex flex-col items-center -mt-5">
          <div
            class="bg-whitesmoke border-primary border-[6px] rounded-3xl h-20 w-20 1.2px [transform:_rotate(41.36deg)] flex justify-center items-center">
            <div class="bg-primary p-3 h-12 w-12 rounded-2xl flex justify-center items-center">
              <p class="text-xl font-extrabold text-white [transform:_rotate(-41.36deg)]">
                2
              </p>
            </div>
          </div>
          <p >Intermediate</p>
        </div>
        <p class="-mt-12 hidden md:flex">
          ....................................................
        </p>
        <p style="line-height:0.3;" class="-mt-10 sm:hidden">
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
          .
          <br>
        </p>

        <div class="space-y-3 flex flex-col items-center -mt-5">
          <div
            class="bg-whitesmoke border-primary border-[6px] rounded-3xl h-20 w-20 1.2px [transform:_rotate(41.36deg)] flex justify-center items-center">
            <div class="bg-primary p-3 h-12 w-12 rounded-2xl flex justify-center items-center">
              <p class="text-xl font-extrabold text-white [transform:_rotate(-41.36deg)]">
                3
              </p>
            </div>
          </div>
          <p>Advanced</p>
        </div>
      </div>
    </div>


    <!-- footer -->
   
<%-include('coursepartials/footer')-%>
    <!-- Tailwind CSS script-->
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>  
    <script> 
    const message = '<%=username%>';
    console.log(message)
      document.getElementById("openApplyMenu").addEventListener("click", function () {
        if(message=='')
        {
          swal({  
                      title: " Oops!",  
                      text: "You Need To Login First",   
                    }); 
        }
        else
        {
        document.getElementById("applyMenu").style.display = "block";
        }
      });

      document
        .getElementById("closeApplyMenu")
        .addEventListener("click", function () {
          document.getElementById("applyMenu").style.display = "none";
        });
  
      </script>
</body>

</html>